.screen{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

@media only screen and (max-width: 1080px) {
    .screen{
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
  }

.side{
    display: flex;
    justify-content: space-evenly;
    overflow-y: hidden;
}

.details h2{
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    color: #5062A2;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.names{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;

    color: rgba(0, 0, 0, 0.7);
}

.tags{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;

    color: rgba(0, 0, 0, 0.6);
}

.details{
    padding-top: 30px;
    padding-left: 40px;
    width: 300px;
}
.address{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #2F303A;
}

.root{
    flex-grow: 1;
    background-color: white;
    width: 860px;
    max-width: 100vw;
    min-height: 500px;
}

.dis1{
    display: block;
}
.dis2{
    display: none;
}

.tabsline{
    width: 750px;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 1100px) {
    .root{
        flex-grow: 1;
        background-color: white;
        width: 100vw;
        max-width: 100vw;
        min-height: 500px;
    }  
    .tabsline{
        width: 100vw;
        display: flex;
        justify-content: center;
    } 
    .dis1{
        display: none;
    }
    .dis2{
        display: block;
    }
}

.darrow{
    position: fixed;
    top: 50%;
    left: 0px;
}

  @media only screen and (min-width: 1800px) {
    .root{
        flex-grow: 1;
        background-color: white;
        width: 100vw;
        max-width: 1000px;
        min-height: 500px;
    }  
    .tabsline{
        width: 1000px;
        display: flex;
        justify-content: center;
    }
}